<!-- Bootstrap Core CSS -->
<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/static/stylesheets/sb-admin-2.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<div class="row" style="background-color: #ffffff;">
    <div class="col-lg-12">
        <h1 class="page-header">
            <%- pageTitle %>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                Jobs
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tag</th>
                                <th>Origin</th>
                                <th>Destination</th>
                                <th>Initial Execution</th>
                                <th>Route Re-Updation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (data) { %>
                                <% for(let i=0; i < data.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%= i + 1 %>
                                                <input type="hidden" value="<%= data[i].id%>" />
                                        </td>
                                        <td>
                                            <%= data[i].tag %>
                                        </td>
                                        <td>
                                            <%= data[i].origin %>
                                        </td>
                                        <td>
                                            <%= data[i].destination %>
                                        </td>
                                        <td>
                                            <%= moment(data[i].createdAt).format("YYYY-MM-DD h:mm a") %>
                                        </td>
                                        <td>
                                            <%= moment(data[i].updatedAt).format("YYYY-MM-DD h:mm a") %>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% } %>
                                            <% if (!data || data.length==0) { %>
                                                <tr>
                                                    <td colspan="3" class="text-center">No Scrapping Jobs</td>
                                                </tr>
                                                <% } %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
<script>
</script>

<!-- <script data-main="/static/javascripts/dashboard" src="/lib/requirejs/require.js"></script> -->